
<body>
    <div class="container">
        <h1>Adicionar Combatente</h1>
        <form action="/adicionarCombatente" method="post">
            <div>
                <label for="nome_personagem">Nome do Personagem:</label>
                <input type="text" id="nome_personagem" name="nome_personagem" required>
            </div>
            <br><br>    
            <label for="idade_personagem">Idade:</label>
            <input type="number" id="idade_personagem" name="idade_personagem" required>
            <br><br>
            <label for="luta">Luta:</label>
            <input type="number" id="luta" name="luta" required>
            <br><br>
            <label for="forca">Força:</label>
            <input type="number" id="forca" name="forca" required>
            <br><br>
            <label for="agilidade">Agilidade:</label>
            <input type="number" id="agilidade" name="agilidade" required>
            <br><br>
            <label for="intelecto">Intelecto:</label>
            <input type="number" id="intelecto" name="intelecto" required>
            <br><br>
            <label for="vigor">Vigor:</label>
            <input type="number" id="vigor" name="vigor" required>
            <br><br>
            <label for="presenca">Presença:</label>
            <input type="number" id="presenca" name="presenca" required>
            <br><br>
            <label for="fortitude">Fortitude:</label>
            <input type="number" id="fortitude" name="fortitude" required>
            <br><br>
            <label for="nivel_exposicao">Nível Exposição:</label>
            <input type="number" id="nivel_exposicao" name="nivel_exposicao" required>
            <br><br>
            <label for="sanidade">Sanidade:</label>
            <input type="number" id="sanidade" name="sanidade" required>
            <br><br>
            <label for="pontos_esforcos">Pontos Esforcos:</label>
            <input type="number" id="pontos_esforcos" name="pontos_esforcos" required>            
            <br><br>
            <label for="vida">Vida:</label>
            <input type="number" id="vida" name="vida" required>            
            <br><br>
            <label for="deslocamento">Deslocamento:</label>
            <input type="number" id="deslocamento" name="deslocamento" required>        
            <br><br>
            <label for="p_e_rodada">Pontos de Esforços por Rodada:</label>
            <input type="number" id="p_e_rodada" name="p_e_rodada" required>      

            <button type="submit">Salvar Combatente</button>
        </form>
    </div>
</body>
